.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;

    .modal-content {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        max-width: 500px;
        width: 100%;
        max-height: 95vh; /* Giới hạn chiều cao tối đa là 90% chiều cao viewport */
        overflow-y: auto; /* Cho phép cuộn nội dung nếu vượt quá chiều cao */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        h2 {
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 15px;

                textarea,
                input,
                select {
                    width: 100%;
                    padding: 8px;
                    margin-top: 5px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
            }

            .array-item {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                input {
                    flex: 1;
                    margin-right: 10px;
                }

                button {
                    padding: 5px 10px;
                    border: none;
                    background-color: #e74c3c;
                    color: #fff;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: #c0392b;
                    }
                }
            }

            button {
                padding: 10px;
                margin: 5px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;

                &:first-of-type {
                    background-color: #007bff;
                    color: #fff;
                }

                &:last-of-type {
                    background-color: #ddd;
                    color: #333;
                }
            }
        }
    }
}
